body{
font-family: arial, sans-serif;
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
}

.navbar{
  display: inline-block;
  list-style-type: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0;87);
  font-size: 0.8em;
  vertical-align: middle;
  padding: 0 12px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fondBleu{
  /*background-color: #569111;*/
  background-color: rgb(31,115,250);
  color: #000000;
  font-weight: bold;
  height: 24px;
}

a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

a:hover{
  text-decoration: underline;
}


#main{
  width: auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.logoMain{
  justify-content: center;
  margin-top: 109px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 0px;
}

form{
  justify-content:center;
}

.Recherche{
  justify-content:center;
  width: 200px;
  height: 50px;
}

.divButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boutonGris{
  background-color: rgba(0, 0, 0, 0.40);
  text-decoration: none;
  margin: 0 20px;
  border: solid 2px rgba(O, O, O, O.50);
}

footer{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: arial, sans-serif;
  font-size: 13px;
  background-color: lightgrey;
}

.footer1{
  border: 1px solid #555555;
  padding:10px;
}

.left{
  justify-content: flex-start;
}

.element:nth-child(2){
  align-self: : flex-end;
}
